.suahscn-container {
	min-height: 375px;
	margin-left: 20px;
}

.suahscn-container .title {
	font-size: 30px;
	margin-top: 55px;
}
.suahscn-container .label {
	font-size: 25px;
	font-style: italic;
}
.suahscn-container .student-infor {
	margin-left: 5px;
}
.suahscn-container .student-infor .field-block {
	float:  left;
	width: 20%;
}


.suahscn-container .student-infor .field-block-1 {
	float:  left;
	width: 40%;
}
.suahscn-container .text-field {
	margin-left: 15px;
	margin-bottom: 30px;
	height: 40px;
}
.suahscn-container .text-field p, .suahscn-container .text-field input {
	float: left;
}

.suahscn-container .field-block p {
	margin-bottom: 0px;
	margin-top: 0px;
	float: left;
}

.suahscn-container .field-block-1 p {
	width: 32%;
	margin-bottom: 0px;
	margin-top: 0px;
}

.suahscn-container .field-block input {
	margin-bottom: 20px;
	height: 20px;
	width: 60%;
	float: left;
}
.suahscn-container .field-block-1 input {
	margin-bottom: 20px;
	height: 20px;
	width: 200px;
	float: left;
}

.suahscn-container .personal-infor {
	margin-left: 20%;
}

.suahscn-container .personal-infor .field-block-1 {
	float:  left;
	width: 50%;
}

.suahscn-container .edit-button {
	font-size: 16px;
	height: 30px;
	width: 14%;
	margin-bottom: 20px;
	margin-left: 43%;
	margin-right: 43%;
}

.suahscn-container .edit-button:hover {
	background-color: #00b3b3;
}