body {
	width: 1100px;
	color: #333;
	margin: auto;
	font-size: 20px;
	line-height: 25px;
}	

.header {
	background-color: #7B7AE0;
	width: 100%;
	height: 185px;
	position: relative;
}
.image {
	float: left !important;
	clear: none;
}

.heading {
	margin-left: 45px;
	float: left;
	font-size: 45px;
}

.name {
	float: right;
	margin-right: 10px;
}
.logout {
	display: block;
	overflow: visible;
	margin-right: 5px;
	float: right;
}

.content {
	width: 100%;
	background-color: #ccc;
}

.navbar {
	width: 100%;
	height: 40px;
}

.nav-menu {
	width: 100%;
	height: 100%;
	display: flex;
}

.dropdown {
	width: 25%;
	height: 100%;
}
.dropdown-toggle {
	width: 100%;
	height: 100%;
	border: 0.5px solid;
	text-align: center;
}
.text-block {
	width: 100%;
	height: 100%;
	margin: auto;
	text-decoration: none;
	position: relative;
	border: 0.5px solid;
	outline: none;
	font-size: 20px;
}

.dropdown-list {
	display: none;
	height: 50px;
	background-color: white;
}

.dropdown-link {
	float: left;
	width: 100%;
	text-decoration: none;
	color: black;
	border-left: 0.5px solid;
	border-right: 0.5px solid;
	border-bottom: 0.5px solid;
}

.dropdown-link:hover {
	background-color: #00b3b3;
}

button:hover  {
	background-color: #00b3b3;
}

.dropdown:hover .dropdown-list {
	display: block;
}

.container {
	height: 430px;
}

.alert-danger {
	background-color: #f44336; 
	margin-bottom: 10px; 
	padding: 20px; 
	color: white; 
	margin-right: 20px; 
	border: 1px solid;
	border-radius: 5px;
}

.alert-success {
	background-color: #4CAF50; 
	margin-bottom: 10px; 
	padding: 20px; 
	color: white; 
	margin-right: 20px; 
	border: 1px solid;
	border-radius: 5px;
}