*{
  background-color: whitesmoke;
}
.circle{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid 10px #dddcdc;;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
}
.text-info{
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  background-color: #f0f0f0;
}
.display-time{
  text-align: center;
  position: absolute;
  width: 280px;
  margin-top:105px;
  font-size: 46px;
  color: #26cbf5;
  border: none;
  font-weight: 600;
  background-color: #f0f0f0;
}
.option-button{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 80px;
  width: 280px;
}

.button-left{
  background-color: #28a745;
  width: 140px;
  height: 80px;
  padding-right: 20px;
  text-align: end;
  border: none;
}
.button-right{
  background-color:#0099ff ;
  width: 140px;
  height: 80px;
  padding-left: 20px;
  text-align: start;
  border: none;
}
input:focus{
  outline:0;
}
.button-left:hover {
  background-color: #287745;
}
.button-right:hover {
  background-color: #007bff;
}